* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    color: #addeff;
}


main {
    padding: 16px;
}


header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.logo {
    background-color: #96f7ef;
    color: black;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



nav a {
    color: #addeff;
    text-decoration: none;
    border: 1px solid #addeff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}


.hero {
    margin-top: 16px;
    padding: 40px;
    background-color: #464642;
    border: 1px solid gray;
    border-radius: 8px;
    text-align: center;
}


.hero h1 {
    margin-top: 0;
}


.cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}


.card {
    background-color: #464642;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
}


footer {
    margin-top: 16px;
    padding: 8px;
    background-color: #464642;
    color: gray;
    text-align: center;
    border-radius: 4px;
}

/* surfplatta */
@media (min-width: 600px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        flex-direction: row;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 48%;
    }
}


/* desktop */
@media (min-width: 1200px) {

    main {
        max-width: 1100px;
        margin: auto;
    }

    .card {
        width: 32%;
    }
}